@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login button {
      margin-top: 10px;
      width: 100%;
    }

    .Login div {
      margin-top: 10px;
    }

    .Login form{
      color: #434343;
      border-radius: 1px;
      margin-bottom: 15px;
      background: #fff;
      border: 1px solid #f3f3f3;
      box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
      padding: 30px;
    }
  }